@import url(reset.css);
@import url(menu_lateral.css);
@import url(cabecalho.css);
@import url(player.css);
@import url(secao.css);
@import url(rodape.css);

:root {
    --azul-escuro: #041833;
    --azul-medio: #154580;
    --azul-degrade: linear-gradient(180deg, var(--azul-medio) 0%, var(--azul-escuro) 100%);
    --verde: #84EEC1;
    --cinza: rgba(196, 196, 196, 0.2);
    --cor-textos: #ffffff;
    --fonte-textos: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    color: var(--cor-textos);
    background: var(--azul-degrade);
    font-family: var(--fonte-textos);
}

.container {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    
}
