/*Estilos compartilhados pelos elementos presentes na seção horizontal e elementos da seção vertical*/
.secao__titulo {
    font-weight: 700;
    font-size: 1.5rem;
}

.cartao__titulo{
    font-weight: 700;
    line-height: 22px;
}

.cartao__subtitulo {
    font-size: 14px;
}

/*Seção horizontal*/

.secao-horizontal .cartao {
    background: var(--cinza);
    border-radius: 10px;
}

.secao-horizontal .cartao__imagem {
    height: 72px;
}

.secao-horizontal .cartao__player {
    width: 164px;
    height: 4px;
    background: white;
    border-radius: 10px;
}

.secao-horizontal .cartao__botao {
    width: 70px;
}


/*Seção vertical*/
.secao-vertical .cartao {
    background: rgba(196, 196, 196, 0.2);
    border-radius: 10px;
    padding: 1rem;
    padding: 1rem;
}

.secao-vertical .cartao__imagem {
    height: 133px;
    margin-bottom: .5rem;
}
.secao-vertical .cartao__subtitulo {
    margin-top: .75rem;
}
